.NavigationItems{
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.NavigationItem{
  margin: 10px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  width: 100%;
}

.NavigationItem a {
  color: #8f5c2c;
  text-decoration: none;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
}

.NavigationItem a:hover,
.NavigationItem a:active,
.NavigationItem a.active{
  color: #40a4c8
}

@media (min-width: 500px){
  .NavigationItems{
    margin: 0;
    padding: 0;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
  }

  .NavigationItem{
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    width: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .NavigationItem a {
    color: #ffffff;
    text-decoration: none;
    height: 100%;
    padding: 16px 10px;
    border-bottom: 4px solid transparent;
  }

  .NavigationItem a:hover,
  .NavigationItem a:active,
  .NavigationItem a.active{
    background-color: #8f5c2c;
    border-bottom: 4px solid #40a4c8;
    color: #ffffff
  }
}
